* {
  padding: 0;
  margin: 0;
}
.main {
  margin: 20px;
  padding: 20px;
}
.topbar {
  margin-top: 10px;
}
.leftbar {
  float: left;
  margin-top: 10px;
}
.rightbar {
  float: right;
  margin-top: 10px;
}
li {
  display: inline;
}
a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}
.middlebar {
  text-align: center;
}
.googlebar {
  padding-bottom: 30px;
  margin-top: 30px;
}
.inputbar {
  padding-bottom: 30px;
  width: 80%;
  margin: auto;
}
input {
  padding: 5px;
  width: 65%;
  height: 25px;
  box-shadow: 4px 7px 9px 0px rgba(232, 221, 221, 0.72);
  -webkit-box-shadow: 4px 7px 9px 0px rgba(232, 221, 221, 0.72);
  -moz-box-shadow: 4px 7px 9px 0px rgba(232, 221, 221, 0.72);
  border: 0.09px solid rgba(233, 227, 227, 50%);
}
.buttons {
}
button {
  background: rgb(241 241 241);
  border: none;
  height: 40px;
  width: 160px;
  text-align: center;
  font-weight: bold;
}
.botoom {
  background: rgb(241 241 241);
  height: 40px;
  width: 100%;
  margin: 30px;
  text-align: center;
}
.icons {
  height: 20px;
  padding-left: 20px;
}
